/* #Imports
================================================== */
@import "flatui/reset.less";
@import "flatui/grid.less";
@import "flatui/color.less";
@import "flatui/mixin.less";
@import "flatui/form.less";
//@import "flatui/nav.less";
@import "flatui/font.less";


/* #Import a font
================================================== */
//.font-face("Mohave", "fonts/Mohave.otf");

/* #Regular Code
================================================== */
body {
    h1 {
        font: 36px "Corbel";
        margin-top: 5px;
    }   
} 

div#title {
    margin-bottom: 10px;
    h1 {
        font-size: 56px;
        text-align: center;
        font-family: "Corbel";
    }
    hr {
        height: 2px;
        background-color: @silver;
    }
}

.color-box {
    &:nth-child(1){
        background-color: black;
    }
    cursor: pointer;
    .size(100%, 45px);
    line-height: 45px;
    text-align: center;
    color: white;
}

canvas {
    margin-top: 10px;
    .size(100%, 600px);
    border: 1px solid black;
    .border-radius(10px);
	.transition("border-color", 2s);
}